response not support application/gzip

when the server response the gzip data to client, AFNetworking can't support unzip the data.

NSURLSession should automatically be handling gzip for us. Can you post an example of your issue?

when the server response the gzip data to the client ,AFURLResponseSerialization.m line number 254 ,the var responseString init by data is always nil.therefore,we modify the AFURLResponseSerialization's self.acceptableContentTypes to support "application/x-gzip" and unzip the data manually ,init the responString again. 

GZIP in HTTP doesn't work by using the content-type `application/x-gzip`. The content-type should be the underlying content-type for the payload and not the encoding mechanism. The `Content-Encoding` header should be set instead.

#### Example

Here's an example request and response of how gzip encoding should work in HTTP, the request is requesting that the encoding gzip or deflate to be used in the response body.

##### Request

```
GET /test HTTP/1.1
Host: www.example.com
Accept-Encoding: gzip, deflate
```

##### Response

```
HTTP/1.1 200 OK
Content-Type: application/json
Content-Encoding: gzip

...
```

Check out [RFC 2616 section 14.3 Accept Encoding](https://tools.ietf.org/html/rfc2616#section-14.3) and [RFC 2616 section 14.11 Content Encoding](https://tools.ietf.org/html/rfc2616#section-14.11) for more information on the HTTP specification that defines these headers and how these types of encodings should behave in HTTP.

Anyway, if the HTTP server correctly responds to the accept-encoding parameters, `NSURLSession` will automatically handle gzip and deflate. 